<div id="navi">
  <div class="em-navi">
    <div id="equipment" class="dl-menuwrapper">
      <h4>车外设备 - V EQUIPMENT</h4>
      <button class="dl-trigger"></button>
      <ul class="dl-menu">
        <li>
          <a href="#">车顶摄像头</a>
          <ul class="dl-submenu">
            <li>
              <a href="#">腾威 - TENVEO</a>
              <ul class="dl-submenu">
                <li><a href="#" class="modal">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#" class="modal">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
            <li>
              <a href="#">亚安 - YAAN</a>
              <ul class="dl-submenu">
                <li><a href="#" class="modal">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#" class="modal">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
            <li>
              <a href="#">荣虹 - RONGHONG</a>
              <ul class="dl-submenu">
                <li><a href="#" class="modal">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#" class="modal">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">天线</a>
          <ul class="dl-submenu">
            <li>
              <a href="#">腾威 - TENVEO</a>
              <ul class="dl-submenu">
                <li><a href="#">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
            <li>
              <a href="#">亚安 - YAAN</a>
              <ul class="dl-submenu">
                <li><a href="#">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
            <li>
              <a href="#">荣虹 - RONGHONG</a>
              <ul class="dl-submenu">
                <li><a href="#">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">吸盘天线</a>
          <ul class="dl-submenu">
            <li>
              <a href="#">腾威 - TENVEO</a>
              <ul class="dl-submenu">
                <li><a href="#">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
            <li>
              <a href="#">亚安 - YAAN</a>
              <ul class="dl-submenu">
                <li><a href="#">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
            <li>
              <a href="#">荣虹 - RONGHONG</a>
              <ul class="dl-submenu">
                <li><a href="#">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">针孔摄像头</a>
          <ul class="dl-submenu">
            <li>
              <a href="#">腾威 - TENVEO</a>
              <ul class="dl-submenu">
                <li><a href="#">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
            <li>
              <a href="#">亚安 - YAAN</a>
              <ul class="dl-submenu">
                <li><a href="#">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
            <li>
              <a href="#">荣虹 - RONGHONG</a>
              <ul class="dl-submenu">
                <li><a href="#">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">警灯</a>
          <ul class="dl-submenu">
            <li>
              <a href="#">腾威 - TENVEO</a>
              <ul class="dl-submenu">
                <li><a href="#">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
            <li>
              <a href="#">亚安 - YAAN</a>
              <ul class="dl-submenu">
                <li><a href="#">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
            <li>
              <a href="#">荣虹 - RONGHONG</a>
              <ul class="dl-submenu">
                <li><a href="#">模拟夜视高速云台摄像机 - YH3020</a></li>
                <li><a href="#">高清夜视高速云台摄像机 - HDH3020</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <%= render '/commons/navi' %>
  <div class="clear"></div>
</div>
<div id="car" class="ford-f150-angle-1">
  <%= image_tag 'frontend/assembling/ford_f150/angle_1.png' %>
</div>
<div id="dialog-message" title="模拟夜视高速云台摄像机 - YH3020" style="display: none;">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    Your files have downloaded successfully into the My Downloads folder.
  </p>
  <p>
    Currently using <b>36% of your storage space</b>.
  </p>
</div>
<% content_for :javascript do %>
  <script>
    jQuery(document).ready(function(){
      $('#equipment').dlmenu();
      $('.modal').click(function() {
        $('#dialog-message').dialog({
          modal: true,
          buttons: {
            Ok: function() {
              $(this).dialog('close');
            }
          }
        });
      });
    });
  </script>
<% end %>