<div role="main" class="main">
  <section class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><%= link_to '首页', root_path %></li>
            <li class="active">下载中心</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>产品样本</h1>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <h2>动中通产品样本</h2>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <div class="toogle" data-plugin-toggle>
          <section class="toggle">
            <label>动中通0.1米</label>
            <div class="toggle-content">
              <p>北京中安卫通通讯设备有限公司是一家致力于电子信息领域建设的股份制有限公司，依托于中国电子科技集团公司第五十四研究所，主要针对通讯领域市场建设，产品主要为：动中通天线，静中通天线，船载动中通天线，便携站，数字集群，应急通信系统集成、服务等；公司先后为公安部、北京市公安局、海南省公安厅、四川省省公安厅及17个地市、山西省公安厅、西藏省公安厅、天津市公安局、北京红十字会集成、调试动中通、静中通、便携站等通讯产品，取得客户的好评。</p>
              <p><a class="btn btn-primary push-bottom" href="#">立即下载</a></p>
            </div>
          </section>
          <section class="toggle">
            <label>动中通0.2米</label>
            <div class="toggle-content">
              <p>北京中安卫通通讯设备有限公司是一家致力于电子信息领域建设的股份制有限公司，依托于中国电子科技集团公司第五十四研究所，主要针对通讯领域市场建设，产品主要为：动中通天线，静中通天线，船载动中通天线，便携站，数字集群，应急通信系统集成、服务等；公司先后为公安部、北京市公安局、海南省公安厅、四川省省公安厅及17个地市、山西省公安厅、西藏省公安厅、天津市公安局、北京红十字会集成、调试动中通、静中通、便携站等通讯产品，取得客户的好评。</p>
              <p><a class="btn btn-primary push-bottom" href="#">立即下载</a></p>
            </div>
          </section>
          <section class="toggle">
            <label>动中通0.3米</label>
            <div class="toggle-content">
              <p>北京中安卫通通讯设备有限公司是一家致力于电子信息领域建设的股份制有限公司，依托于中国电子科技集团公司第五十四研究所，主要针对通讯领域市场建设，产品主要为：动中通天线，静中通天线，船载动中通天线，便携站，数字集群，应急通信系统集成、服务等；公司先后为公安部、北京市公安局、海南省公安厅、四川省省公安厅及17个地市、山西省公安厅、西藏省公安厅、天津市公安局、北京红十字会集成、调试动中通、静中通、便携站等通讯产品，取得客户的好评。</p>
              <p><a class="btn btn-primary push-bottom" href="#">立即下载</a></p>
            </div>
          </section>
          <section class="toggle">
            <label>动中通0.4米</label>
            <div class="toggle-content">
              <p>北京中安卫通通讯设备有限公司是一家致力于电子信息领域建设的股份制有限公司，依托于中国电子科技集团公司第五十四研究所，主要针对通讯领域市场建设，产品主要为：动中通天线，静中通天线，船载动中通天线，便携站，数字集群，应急通信系统集成、服务等；公司先后为公安部、北京市公安局、海南省公安厅、四川省省公安厅及17个地市、山西省公安厅、西藏省公安厅、天津市公安局、北京红十字会集成、调试动中通、静中通、便携站等通讯产品，取得客户的好评。</p>
              <p><a class="btn btn-primary push-bottom" href="#">立即下载</a></p>
            </div>
          </section>
          <section class="toggle">
            <label>动中通0.5米</label>
            <div class="toggle-content">
              <p>北京中安卫通通讯设备有限公司是一家致力于电子信息领域建设的股份制有限公司，依托于中国电子科技集团公司第五十四研究所，主要针对通讯领域市场建设，产品主要为：动中通天线，静中通天线，船载动中通天线，便携站，数字集群，应急通信系统集成、服务等；公司先后为公安部、北京市公安局、海南省公安厅、四川省省公安厅及17个地市、山西省公安厅、西藏省公安厅、天津市公安局、北京红十字会集成、调试动中通、静中通、便携站等通讯产品，取得客户的好评。</p>
              <p><a class="btn btn-primary push-bottom" href="#">立即下载</a></p>
            </div>
          </section>
          <section class="toggle">
            <label>动中通0.6米</label>
            <div class="toggle-content">
              <p>北京中安卫通通讯设备有限公司是一家致力于电子信息领域建设的股份制有限公司，依托于中国电子科技集团公司第五十四研究所，主要针对通讯领域市场建设，产品主要为：动中通天线，静中通天线，船载动中通天线，便携站，数字集群，应急通信系统集成、服务等；公司先后为公安部、北京市公安局、海南省公安厅、四川省省公安厅及17个地市、山西省公安厅、西藏省公安厅、天津市公安局、北京红十字会集成、调试动中通、静中通、便携站等通讯产品，取得客户的好评。</p>
              <p><a class="btn btn-primary push-bottom" href="#">立即下载</a></p>
            </div>
          </section>
          <section class="toggle">
            <label>动中通0.7米</label>
            <div class="toggle-content">
              <p>北京中安卫通通讯设备有限公司是一家致力于电子信息领域建设的股份制有限公司，依托于中国电子科技集团公司第五十四研究所，主要针对通讯领域市场建设，产品主要为：动中通天线，静中通天线，船载动中通天线，便携站，数字集群，应急通信系统集成、服务等；公司先后为公安部、北京市公安局、海南省公安厅、四川省省公安厅及17个地市、山西省公安厅、西藏省公安厅、天津市公安局、北京红十字会集成、调试动中通、静中通、便携站等通讯产品，取得客户的好评。</p>
              <p><a class="btn btn-primary push-bottom" href="#">立即下载</a></p>
            </div>
          </section>
          <section class="toggle">
            <label>动中通0.8米</label>
            <div class="toggle-content">
              <p>北京中安卫通通讯设备有限公司是一家致力于电子信息领域建设的股份制有限公司，依托于中国电子科技集团公司第五十四研究所，主要针对通讯领域市场建设，产品主要为：动中通天线，静中通天线，船载动中通天线，便携站，数字集群，应急通信系统集成、服务等；公司先后为公安部、北京市公安局、海南省公安厅、四川省省公安厅及17个地市、山西省公安厅、西藏省公安厅、天津市公安局、北京红十字会集成、调试动中通、静中通、便携站等通讯产品，取得客户的好评。</p>
              <p><a class="btn btn-primary push-bottom" href="#">立即下载</a></p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>