<div role="main" class="main">
  <section class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><%= link_to '首页', root_path %></li>
            <li class="active">关于我们</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>关于我们</h1>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <p>　　北京天亦兴合通讯设备有限公司是一家致力于电子信息领域建设的股份制有限公司，依托于中国电子科技集团公司第五十四研究所，主要针对通讯领域市场建设，产品主要为：动中通天线，静中通天线，船载动中通天线，便携站，数字集群，应急通信系统集成、服务等；公司先后为公安部、北京市公安局、海南省公安厅、四川省省公安厅及17个地市、山西省公安厅、西藏省公安厅、天津市公安局、北京红十字会集成、调试动中通、静中通、便携站等通讯产品，取得客户的好评。</p>
    <p>　　天亦兴合秉着“创新、务实、诚信、平等”的总体原则，以优质的产品为基础，以先进的技术为平台，以全方位360度的服务为后盾，以专业先进的技术为导向，与新老客户精诚合作，在应急事件等发生时，大大的提高客户整体作战能力与联动性能，从而使事件处理速度加快，事件处理质量提高。通过天亦兴合全体员工的同心协力、不懈努力，和广大客户的大力支持，携手共创未来！</p>
    <p>　　北京天亦兴合通讯设备有限公司与中国电子科技集团公司第五十四研究所在2013年形成战略合作伙伴，携手开创中国电子信息的美好蓝图，共同推动中国应急通信的综合竞争力。</p>
    <p>　　中国电子科技集团公司第五十四研究所始建于1952年，是新中国成立的第一个电信技术研究所，是我国目前电子信息领域专业覆盖面最宽、规模最大的综合性骨干研究所之一，相继参与完成了“两弹一星”、“载人航天”、“国防电子信息系统”、“嫦娥探月”、“远望号”、“北斗卫星导航系统”、“上海天文台65米射电望远镜天线项目”等数百项国家和国防重大工程建设，是国家授权的电子工程甲级设计单位、电子工程专业承包壹级资质单位和工程咨询甲级资格单位。五十四所具有很强的大型综合工程总体设计、实施和设备研制生产能力，主要从事军事通信、卫星导航定位、航天航空测控、一体化情报、通信对抗、航天信息系统与应用六大核心专业的总体设计和设备研制，以及天线与伺服、宽带无线接入、广播电视、高速公路及城市交通电子、能源电子、公共安全系统、无线电监测、时频设备与系统集成等专业领域的技术研究、科研生产和装备生产，产品已覆盖国防和国民经济各领域。</p>
  </div>
</div>