<div role="main" class="main">
  <section class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><%= link_to '首页', root_path %></li>
            <li class="active">系统集成</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>航空领域</h1>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-posts">
          <article class="post">
            <div class="post-image">
              <div class="owl-carousel" data-plugin-options='{"items":1}'>
                <div>
                  <div class="img-thumbnail">
                    <%= image_tag 'frontend/market-aerospace-1.jpg', class: 'img-responsive' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-content">
              <h2 class="text-primary">航空领域</h2>
              <p></p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>