<div class="markets-list">
  <ul>
    <li class="sea">
      <%= image_tag 'frontend/markets_sea.jpg' %>
      <div class="mask">
        <h2>OCEAN AREAS - 海事领域</h2>
        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
        <a href="#" class="learn-more">了解更多...</a>
      </div>
    </li>
    <li class="land">
      <%= image_tag 'frontend/markets_land.jpg' %>
      <div class="mask">
        <h2>LAND AREAS - 陆用领域</h2>
        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
        <a href="#" class="learn-more">了解更多...</a>
      </div>
    </li>
    <li class="air">
      <%= image_tag 'frontend/markets_air.jpg' %>
      <div class="mask">
        <h2>AEROSPACE - 航空领域</h2>
        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
        <a href="#" class="learn-more">了解更多...</a>
      </div>
    </li>
  </ul>
</div>