<div role="main" class="main">
  <section class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><%= link_to '首页', root_path %></li>
            <li class="active">产品系列</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>车载动中通</h1>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="owl-carousel" data-plugin-options='{"items": 1}'>
          <div>
            <div class="thumbnail">
              <%= image_tag 'frontend/products/car_mobile_communication_antenna_point_6/1.jpg', class: 'img-responsive' %>
            </div>
          </div>
          <div>
            <div class="thumbnail">
              <%= image_tag 'frontend/products/car_mobile_communication_antenna_point_6/2.jpg', class: 'img-responsive' %>
            </div>
          </div>
          <div>
            <div class="thumbnail">
              <%= image_tag 'frontend/products/car_mobile_communication_antenna_point_6/3.jpg', class: 'img-responsive' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h2 class="shorter">Car Mobile communication antenna - 车载动中通</h2>
        <h4>0.6米低轮廓平板阵列动中通天线</h4>
        <p>产品概述：</p>
        <p>CTI-CM60-Ku2304型低剖面“动中通”天线是中国电子科技集团公司第五十四研究所独立研制生产的“动中通”天线系列产品之一。该天线根据在快速移动中保持卫星通信信号平稳不间断的使用需求而设计，能够在多种恶劣天气及颠簸路况下使用，可在车辆快速移动中实现长时间、不间断的高速率信息传输，充分满足军用、民用应急通信保障高标准、高可靠性的要求。经实用检验，各项指标达到武器装备质量要求，可广泛用于军事通信、新闻采集、应急指挥等诸多领域。</p>
        <div class="blank"></div>
        <p>技术特点：</p>
        <ul class="list icons list-unstyled">
          <li><i class="fa fa-check"></i> 采用新型高效率平板波导阵列式设计，天线辐射效率高；</li>
          <li><i class="fa fa-check"></i> 收发共用波导阵列，极化自动调整，天线外形尺寸小；</li>
          <li><i class="fa fa-check"></i> 采用模块化、集成化设计，天线剖面低，天线（含天线罩）整体高度小于300mm；</li>
          <li><i class="fa fa-check"></i> 天线装车方便，无需改变车辆外形；</li>
          <li><i class="fa fa-check"></i> 采用陀螺稳定、惯导引导和相控电子波束扫描跟踪技术，保持天线始终高精度对准卫星，保证通信畅通；</li>
          <li><i class="fa fa-check"></i> 相控电子波束扫描跟踪可对惯导数据进行适时修正，克服了惯导数据随时间漂移的固有缺陷，无需定时停车修正惯导数据，</li>
          <li><i class="fa fa-check"></i> 实现了无限长时间行进间的稳定跟踪。</li>
        </ul>
      </div>
    </div>
  </div>
</div>