<div role="main" class="main">
  <section class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><%= link_to '首页', root_path %></li>
            <li class="active">产品系列</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>便携站</h1>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="owl-carousel" data-plugin-options='{"items": 1}'>
          <div>
            <div class="thumbnail">
              <%= image_tag 'frontend/product-demo-1.jpg', class: 'img-responsive' %>
            </div>
          </div>
          <div>
            <div class="thumbnail">
              <%= image_tag 'frontend/product-demo-2.jpg', class: 'img-responsive' %>
            </div>
          </div>
          <div>
            <div class="thumbnail">
              <%= image_tag 'frontend/product-demo-3.jpg', class: 'img-responsive' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h2 class="shorter">Portable transportable satellite station - 便携式可搬移卫星站</h2>
        <h4>便携式0.9m / 1.2m“一键通”天线</h4>
        <p>产品概述：</p>
        <p>CTI-CM90-Ku0704型中轮廓“动中通”天线是中国电子科技集团公司第五十四研究所独立研制生产的“动中通”天线系列产品之一。该天线根据在快速移动中保持卫星通信信号平稳不间断的使用需求而设计，能够在多种恶劣天气及颠簸路况下使用，可在车辆快速移动中实现长时间、不间断的高速率信息传输，充分满足军用、民用应急通信保障高标准、高可靠性的要求。经实用检验，各项指标达到武器装备质量要求，可广泛用于军事通信、新闻采集、应急指挥等诸多领域。</p>
        <p>技术特点：</p>
        <ul class="list icons list-unstyled">
          <li><i class="fa fa-check"></i> 采用了赋形椭圆波束天线设计技术，提高了天线效率，降低了天线装车高度；</li>
          <li><i class="fa fa-check"></i> 采用了碳纤维反射面，减轻了重量，降低了伺服功耗；</li>
          <li><i class="fa fa-check"></i> 采用了陀螺稳定、惯导引导跟踪、单脉冲自动跟踪的三级稳定与自动跟踪措施，实现了可靠稳定的自动跟踪；</li>
          <li><i class="fa fa-check"></i> 单脉冲自动跟踪可对惯导数据进行适时修正，克服了惯导数据随时间漂移的固有缺陷，无需定时停车修正惯导数据，实现了无限长时间行进间的稳定跟踪；</li>
          <li><i class="fa fa-check"></i> 采用了惯导跟踪，“动中通”天线在跟踪中断后的再捕时间小于1秒；</li>
          <li><i class="fa fa-check"></i> 伺服控制采用了模块化、集成化设计，连接线缆少（2根），抽屉的体积小（3U）。</li>
        </ul>
      </div>
    </div>
    <hr class="tall" />
    <div class="row center">
      <div class="col-md-3">
        <div class="circular-bar">
          <div class="circular-bar-chart" data-percent="75" data-plugin-options='{"barColor": "#E36159"}'>
            <strong>稳定性</strong>
            <label><span class="percent">75</span>%</label>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="circular-bar">
          <div class="circular-bar-chart" data-percent="85" data-plugin-options='{"barColor": "#0088CC", "delay": 300}'>
            <strong>扩展性</strong>
            <label><span class="percent">85</span>%</label>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="circular-bar">
          <div class="circular-bar-chart" data-percent="60" data-plugin-options='{"barColor": "#2BAAB1", "delay": 600}'>
            <strong>维护性</strong>
            <label><span class="percent">60</span>%</label>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="circular-bar">
          <div class="circular-bar-chart" data-percent="95" data-plugin-options='{"barColor": "#734BA9", "delay": 900}'>
            <strong>性价比</strong>
            <label><span class="percent">95</span>%</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>