<div class="product-show product-portable-transportable-satellite-station">
  <h1>Portable transportable satellite station - 便携式可搬移卫星站</h1>
  <h2>便携式0.9m / 1.2m“一键通”天线</h2>
  <div class="content">
    <p>产品概述：</p>
    <p>中国电子科技集团公司第五十四研究所自主研制生产的便携式“一键通”天线，采用双偏执格里高利天线技术，大大提高了天线效率，同时满足携带便捷、架设速度快、一键对星、能够适应复杂地形等特点。弥补了车载卫星通信在无法驶入地形的通信盲区。在2008年冰雪救灾、2008年汶川地震、2010年玉树地震等自然灾害中，深入受灾腹地，在指挥、救援中起到了关键作用。</p>
    <div class="blank"></div>
    <p>技术特点：</p>
    <ul>
      <li>● 采用双偏置格里高利天线，克服了单偏置抛物面天线工作于线极化、圆极化时出现的交叉极化劣化和波束倾斜的缺点；</li>
      <li>● 可将功放、低噪声放大器、伺服控制和跟踪接收机集成在箱体内；</li>
      <li>● 天线面采用碳纤维材料，重量轻、精度高；</li>
      <li>● 天线面分五块拼装，面板之间用搭扣连接，拼装快捷；</li>
      <li>● 采用方位－俯仰转台式小型化天线座，伺服控制采用智能化设计，一键对星；</li>
      <li>● LAN接口，可以与终端或者PDA通信；</li>
      <li>● 结构简洁，造型美观、大方。</li>
    </ul>
  </div>
</div>