<div role="main" class="main">
  <section class="page-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><%= link_to '首页', root_path %></li>
            <li class="active">产品系列</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>船载动中通</h1>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="owl-carousel" data-plugin-options='{"items": 1}'>
          <div>
            <div class="thumbnail">
              <%= image_tag 'frontend/product-demo-1.jpg', class: 'img-responsive' %>
            </div>
          </div>
          <div>
            <div class="thumbnail">
              <%= image_tag 'frontend/product-demo-2.jpg', class: 'img-responsive' %>
            </div>
          </div>
          <div>
            <div class="thumbnail">
              <%= image_tag 'frontend/product-demo-3.jpg', class: 'img-responsive' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h2 class="shorter">Shipboard antenna - 船载动中通</h2>
        <h4>船载Ku频段卫星通信天线</h4>
        <p>产品概述：</p>
        <p>CTI-CS60- Ku0531、CTI-CS80- Ku0531、CTI-CS120- Ku0531、 CTI-CS180- Ku0531、 CTI-CS240- Ku0531型船载卫星通信天线广泛应用于海洋勘探、远洋运输、海洋救捞等大小舰船及石油钻井平台。采用陀螺稳定和圆锥扫描自跟踪方式，使天线在舰船航向变化及船体摇摆时，能够始终对准卫星，保证船站与船站或船站与岸站之间的双向通信。天线具有跟踪精度高、可靠性高、耐盐雾、耐腐蚀、抗冲击等特点，适应恶劣的海洋环境。</p>
        <div class="blank"></div>
        <p>技术特点：</p>
        <ul class="list icons list-unstyled">
          <li><i class="fa fa-check"></i> 采用了模块化设计，对外接口具有多种适应性及可扩充性，操作简单，维护方便；</li>
          <li><i class="fa fa-check"></i> 采用A-C-E三轴座架，全海域无盲区工作；</li>
          <li><i class="fa fa-check"></i> 采用齿轮传动，使用寿命长，可靠性高；</li>
          <li><i class="fa fa-check"></i> 采用陀螺稳定及前馈补偿和圆锥扫描自跟踪方式，跟踪精度高。</li>
        </ul>
      </div>
    </div>
    <hr class="tall" />
    <div class="row center">
      <div class="col-md-3">
        <div class="circular-bar">
          <div class="circular-bar-chart" data-percent="75" data-plugin-options='{"barColor": "#E36159"}'>
            <strong>稳定性</strong>
            <label><span class="percent">75</span>%</label>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="circular-bar">
          <div class="circular-bar-chart" data-percent="85" data-plugin-options='{"barColor": "#0088CC", "delay": 300}'>
            <strong>扩展性</strong>
            <label><span class="percent">85</span>%</label>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="circular-bar">
          <div class="circular-bar-chart" data-percent="60" data-plugin-options='{"barColor": "#2BAAB1", "delay": 600}'>
            <strong>维护性</strong>
            <label><span class="percent">60</span>%</label>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="circular-bar">
          <div class="circular-bar-chart" data-percent="95" data-plugin-options='{"barColor": "#734BA9", "delay": 900}'>
            <strong>性价比</strong>
            <label><span class="percent">95</span>%</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>