<div class="product-show product-through-static-antenna">
  <h1>Through static antenna - 车载静中通</h1>
  <h2>车载1.2m/ 1.8m / 2.4m静中通天线</h2>
  <div class="content">
    <p>产品概述：</p>
    <p>中国电子科技集团公司第五十四研究所研制开发的1.2m、1.8m和2.4m静中通天线，采用双偏执格里高利天线技术，克服单偏执抛物面天线工作于线极化、圆极化时出现的交叉极化恶劣化和波束倾斜的缺点，大大提高了天线工作效率。天线已广泛应用总参信息化部、国家地震局、总装发射场和着陆场、中国移动和中国联通、各省军区及各级公安系统中。</p>
    <div class="blank"></div>
    <p>技术特点：</p>
    <ul>
      <li>● 双偏执格里高利天线形式，提高了天线工作效率　　　● 极化角度自动修正</li>
      <li>● 碳纤维反射面，天线重量轻，驱动功率小　　　　　　● 接口完善，可以选择LAN、RS232和CAN等各种接口</li>
      <li>● 流线型外向设计，结构紧凑美观　　　　　　　　　　● 环境适应性强，低温可以在－40℃工作</li>
      <li>● 自动采集电子罗盘和GPS，无需校正　　　　　　　　● 抗冲击振动满足GJB367A要求</li>
      <li>● 采用快速搜索等关键技术，对星速度快　　　　　　　● 无需借助参考星</li>
    </ul>
  </div>
</div>